login_form {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}
