<nav>
  <img
    src="https://i.pinimg.com/564x/5c/cc/b6/5cccb60bcea120236316eac0a4be8af6.jpg"
    alt="logo"
    height="50px"
    width="50px"
  />
  <ul>
    <a routerLink="">Home</a>
    <a routerLink="products">Products</a>
    <a routerLink="favorite" class="nav-item">
      Favorite
      <span class="badge" *ngIf="(productFavorite$ | async)?.length !== 0">
        {{ (productFavorite$ | async)?.length }}
      </span>
    </a>
    <a routerLink="user">User</a>
    <a routerLink="cart"> Cart</a>
  </ul>
</nav>
