<app-search-form></app-search-form>

<!-- transformation  -->
<div *ngIf="(products$ | async)?.length === 0">Loading...</div>

<!-- display the product by name -->
<div class="products">
  <div class="product-item" *ngFor="let product of products$ | async">
    <p>{{ product.title }}</p>
    <p>{{ product.price }}</p>

    <a [routerLink]="['/products', product.id]">
      <button class="btn">More</button>
    </a>
    <button class="btn" (click)="addFavoriteHandler(product)">Favorite</button>
    <!-- <button class="btn" (click)="addCartHandler(product)">Add to cart</button> -->
  </div>
</div>
