<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" />

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" />

  <label for="name">Name:</label>
  <input type="name" id="name" formControlName="name" />

  <label for="avatar">Avatar:</label>
  <input type="avatar" id="avatar" formControlName="avatar" />

  <button type="submit" [disabled]="registerForm.invalid">
    Create account
  </button>
</form>
